<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
          
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Title</title>
</h:head>
<h:body>
        <h:form>
    <h1>Welcome candy of tomorrow, today</h1>
    <c:if test="#{not empty candyController.candies}">
        <table class="table table-striped">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>color</th>
                <th>price</th>
            </tr>
            <c:forEach items="#{candyController.candies}" var="candy">
                <tr>
                    <td>#{candy.id}</td>
                    <td>#{candy.name}</td>
                    <td>#{candy.color}</td>
                    <td>#{person.price}</td>
                </tr>
            </c:forEach>
        </table>
    </c:if>
    

        <h:outputLabel for="name" value="Name"></h:outputLabel>
        <h:inputText id="name" value="#{candyFacade.candy}"></h:inputText>
        <h:outputLabel for="color" value="Color"></h:outputLabel>
        
        <h:commandButton value="Save">
            <f:ajax listener="#{candyController.saveCandy()}" render="@form"></f:ajax>
        </h:commandButton>
    </h:form>
</h:body>
</html>