<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
          
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Title</title>
</h:head>
<h:body>
    <h1>Welcome people of tomorrow, today</h1>
    <h:outputText value="#{personController == null}"></h:outputText>
    <h:form>
            <h:commandButton value="Save">
                <f:ajax listener="#{personController.savePerson()}" render="@form"></f:ajax>
        </h:commandButton>
    </h:form>
    <!--
    <c:if test="#{not empty personController.persons}">
        <table class="table table-striped">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Street</th>
                <th>Number</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Date of birth</th>
                <th>age</th>
            </tr>
            <c:forEach items="#{personController.persons}" var="person">
                <tr>
                    <td>#{person.firstName}</td>
                    <td>#{person.lastName}</td>
                    <td>#{person.address.street}</td>
                    <td>#{person.address.number}</td>
                    <td>#{person.address.city}</td>
                    <td>#{person.address.postalCode}</td>
                    <td>#{person.birthDate}</td>
                    <td>#{person.age}</td>
                </tr>
            </c:forEach>
        </table>
    </c:if>-->
</h:body>
</html>