<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>
<ui:composition template="/WEB-INF/templates/template.xhtml">
    <ui:define name="pageTitle">Register user</ui:define>
    <ui:define name="pageContent">
        <b:row>
            <b:column span="8" offset="2">
                <b:panel title="Register" look="primary">
                    <b:form>
                        <b:row>
                            <b:column span="6">
                                <h:outputText value="First name : "/>
                                <b:inputText id="firstname" value="#{registrationController.firstName}"/>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Last name : "/>
                                <b:inputText styleClass="form-control" value="#{registrationController.lastName}"/>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Gender : "/>
                                <b:radiobutton value="#{registrationController.gender}">
                                    <f:selectItems value="#{registrationController.genders}"/>
                                </b:radiobutton>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Date of birtb : "/>

                                <b:inputText styleClass="form-control" value="#{registrationController.dateOfBirth}"/>
                            </b:column>

                            <b:column span="6">
                                <h:outputText value="E-mail : "/>
                                <b:inputText styleClass="form-control" value="#{registrationController.email}"/>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Service level : "/>
                                <b:selectOneMenu value="#{registrationController.serviceLevel}">
                                    <f:selectItems value="#{registrationController.levels}"/>
                                </b:selectOneMenu>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Pbone : "/>
                                <b:inputText styleClass="form-control" value="#{registrationController.phone}"/>
                            </b:column>
                            <b:column span="6">
                                <h:outputText value="Accountnumber : "/>
                                <b:inputText styleClass="form-control" value="#{registrationController.accountNumber}"/>
                            </b:column>
                            <b:column span="6">
                                <b:commandButton span="6" action="confirm.xbtml" value="Submit"
                                                 styleClass="btn-primary"/>
                                <b:commandButton span="6" type="reset" value="Reset"
                                                 styleClass="btn-danger"/>
                            </b:column>
                        </b:row>
                    </b:form>
                </b:panel>
            </b:column>
        </b:row>
    </ui:define>
</ui:composition>
</html>