<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:b="http://bootsfaces.net/ui"
>
<h:head>
    <title><ui:insert name="pageTitle"/></title>
</h:head>
<body>
<b:navBar brand="Brand" brandHref="#" inverse="true">
</b:navBar>
<b:container fluid="true">
    <ui:insert name="pageContent"/>
</b:container>
</body>
</html>